.header {
  position: sticky;
  top: 0;
  z-index: 50;
  height: 7rem;
  max-width: 230rem;
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.nav__items {
  color: #ffffff;
  font-weight: 500;
}

.nav__item {
  position: relative;
  display: inline-block;
}

.nav__item::after {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease-in;
}

.nav__item:hover::after {
  transform: scale(1);
}

.logo {
  display: inline-block;
  font-family: "DaniloCatalina";
  font-weight: 600;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 100%;
}

.menu__icon,
.menu__icon::before,
.menu__icon::after {
  top: 0rem;
  height: 2px;
  width: 3.5rem;
  background-color: #fff;
  position: absolute;
  right: 0rem;
}

.menu__icon::before {
  content: "";
  top: 1rem;
  right: 0rem;
}

.menu__icon::after {
  content: "";
  top: 2rem;
  right: 0rem;
}

.menu__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.close__icon {
  height: 2px;
  width: 2.5rem;
  background-color: #e6dcd6;
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
}

.close__icon::before {
  content: "";
  height: 2px;
  width: 2.5rem;
  background-color: #e6dcd6;
  top: 0rem;
  transform: rotate(90deg);
  position: absolute;
}

.menu__item {
  width: 100%;
  padding: 1.5rem 0rem;
  display: flex;
  cursor: pointer;
}

.menu__item:not(:first-child) {
  border-bottom: 1px solid #3b3b3b;
}

.menu__link {
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}
